@page "/"

<EditForm EditContext="@editContext">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="name">Name:</label>
        <InputText id="name" class="form-control" @bind-Value="_customer.Name" />
        <ValidationMessage For="@(() => _customer.Name)" />
    </div>
    <div class="form-group">
        <label for="organizationCode">Organization Code:</label>
        <InputText id="organizationCode" class="form-control" @bind-Value="_customer.OrganizationCode" />
        <ValidationMessage For="@(() => _customer.OrganizationCode)" />
    </div>
    <div style="margin-top: 10px;">
        <button type="submit" class="btn btn-primary" @onclick="Submit">Submit</button>
    </div>

</EditForm>

@code {
    private Customer _customer = new Customer();
    private EditContext? editContext;

    protected override void OnInitialized ()
    {
        editContext = new(_customer);
    }

    private void Submit ()
    {
        editContext?.Validate(); //Manually trigger the validation here.
    }
}      