@page "/"
<table>
    <Virtualize Items="employees" Context="employee">
        <tr>
            <td>@employee.EmployeeId</td>
            <td>@employee.Salary</td>
        </tr>
    </Virtualize>
</table>

@code {

    private List<Employee>? employees;

    protected override async Task OnInitializedAsync ()
    {
        employees = await EmployeeDetails();
    }

    private async Task<List<Employee>> EmployeeDetails ()
    {
        List<Employee> empList = new List<Employee>();

        for (int i = 1; i <= 10000; i++)
        {
            var emp = new Employee()
                {
                    EmployeeId = $"EmpID - {i}",
                    Salary = $"Salary - {i * 100}",
                };

            empList.Add(emp);
        }
        return await Task.FromResult(empList);
    }

    public class Employee
    {
        public string? EmployeeId { get; set; }
        public string? Salary { get; set; }
    }
}
