@page "/"

@inject Blazored.LocalStorage.ILocalStorageService localStorage

<h3>Checkbox Example</h3>

<input type="checkbox" checked="@isChecked" @onchange="HandleCheckboxChange" /> 

<p>Checkbox State: @isChecked.ToString()</p>


@code {
    public bool isChecked;

    protected override async Task OnAfterRenderAsync ( bool firstRender )
    {
        if (firstRender)
        {
            isChecked = await localStorage.GetItemAsync<bool>("Checkbox State");
            StateHasChanged();
        }    
    }

    private async Task HandleCheckboxChange ( ChangeEventArgs? e )
    {
        isChecked = (bool)e.Value;
        await localStorage.SetItemAsync("Checkbox State", isChecked);
        await InvokeAsync(StateHasChanged);
    }
    
}
