@page "/"

<select @bind="selectedValue">
    <option value="default">Default Value</option>
    <option value="value1">Value 1</option>
    <option value="value2">Value 2</option>
    <!-- Add more options as needed -->
</select>

<button @onclick="SetActiveValue">Set Active Value</button>

@code {
    private string selectedValue = "default";

    private void SetActiveValue ()
    {
        selectedValue = "value1"; // Replace "value1" with the value you want to set as active.
    }
}
