@page "/"
@inject IJSRuntime JSRuntime

<div class="buttons">
    @for (int i = 0; i < 5; i++)
    {
        var index = i;
        <button type="button" class="btn btn-primary" onclick="@(() => ButtonClicked(index))">Button @i</button>
    }
</div>

@code {
    private async Task ButtonClicked(int index)
    {        
        await JSRuntime.InvokeVoidAsync("console.log", $"Button clicked with index: {index}");
    }
} 

