@page "/"

<h3>Button Example</h3>

<button @onclick="ButtonClick">Click Me!</button>

<p>@message</p>

@code {
    private string message = "";

    private void ButtonClick ()
    {
        message = "Button clicked!";
    }
}
