@page "/"
  
@using BlazorApp.TowerRange;
  
 <h1> Blazor component styling with SCSS </h1>
  
 <div class="marginStyle">
     <TowerRange CurrentValue="20" Color="TowerRange.BackgroundColor.DarkGrey" />
 </div>
  
 <div class="marginStyle ">
     <TowerRange CurrentValue="40" Color="TowerRange.BackgroundColor.MediumGrey" />
 </div>
  
 <div class="marginStyle ">
     <TowerRange CurrentValue="60" Color="TowerRange.BackgroundColor.LightGrey" />
 </div> 