@page "/"
@inject IJSRuntime JsRuntime

<p>@userAgent</p>

@code {

    private string? userAgent { get; set; }

    protected override async Task OnInitializedAsync ()
    {
        userAgent = await JsRuntime.InvokeAsync<string>("getUserAgent");
    }
}