@page "/"

@inject TimeZoneService TimeZoneService

<h1>Current time</h1>

<p>Now (UTC):   @DateTimeOffset.UtcNow.ToString()</p>
<p>Now (local): @localTime.ToString()</p>

@code {
    DateTimeOffset localTime;

    protected override async Task OnAfterRenderAsync ( bool firstRender )
    {
        if (firstRender)
        {
            // TODO: Require server render mode while instantiating the component to execute JavaScript in OnInitializedAsync.
            // In _Host.cshtml: <component type="typeof(App)" render-mode="Server" />
           localTime = await TimeZoneService.GetLocalDateTime(DateTimeOffset.UtcNow);
        }
    }
    
}
