@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor Http
@inject IJSRuntime JSRuntime


@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-info alert-dismissible fade show" role="alert" style="margin-top: auto;">
        This app only uses strictly necessary cookies to function. No personal data is collected
        <button type="button" class="accept-policy close" data-dismiss="alert" aria-label="Close" @onclick="AcceptMessage">
            Accept Cookies
        </button>
    </div>
}
@code {
    bool showBanner = true;

    protected override async Task OnAfterRenderAsync ( bool firstRender )
    {
        if (firstRender)
        {
            var cookiePolicyAccepted = await JSRuntime.InvokeAsync<bool>("GetCookiePolicyAccepted");
            if (cookiePolicyAccepted == true)
            {
                showBanner = true;
                StateHasChanged();
            }
        }
    }


    private async Task AcceptMessage()
    {
        await  JSRuntime.InvokeVoidAsync("SetCookiePolicyAccepted");
        showBanner = false;
    }
}
