
@using System.Globalization

<h1 style="font-weight:@fontweight !important">@_headingText</h1>

<form>
    <div>
        <input type="checkbox" id="fontweight"
               @bind="bold" />
        <label class="form-check-label"
               for="italicsCheck">Use Bold</label>
    </div>

    <button type="button" class="btn btn-primary" @onclick="UpdateHeading">
        Update Font
    </button>
</form>

@code {
    private static TextInfo _tinfo = CultureInfo.CurrentCulture.TextInfo;
    private string _headingText =
        _tinfo.ToTitleCase("welcome to blazor!");
    private string _headingFontStyle = "normal";
    private bool bold = false;
    private int fontweight = 500;
    public void UpdateHeading ()
    {
        //weight = 900;
        fontweight = bold ? 900 : 500;
    }
}