@page "/"
@using System.ComponentModel.DataAnnotations;
@using BlazorServerApp.Resources;

<EditForm Model="@_employee" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputText id="name" @bind-Value="_employee.Name" />
    <ValidationMessage For="@(() => _employee.Name)" />
    <button type="submit">Submit</button>
</EditForm>

@code {
    public class Employee
    {
        [Required(ErrorMessageResourceName = "NameRequired", ErrorMessageResourceType = typeof(ValidationResources))]
        [StringLength(15, MinimumLength = 2, ErrorMessageResourceName = "NameLength", ErrorMessageResourceType = typeof(ValidationResources))]
        public string? Name { get; set; }
    }

    private Employee _employee = new Employee();

    private void HandleValidSubmit ()
    {
        Console.WriteLine("OnValidSubmit");
    }
}