@page "/"

<a href="https://www.youtube.com/watch?v=kX4oRfj1Ip8" class="btn btn-primary" @onclick="@TheEvent" @onclick:preventDefault>Do it</a>

@code {
    private  void TheEvent( MouseEventArgs e )
    {
       
    }
}