@page "/"
@inject IJSRuntime JSRuntime
<p>Here created cookies</p>
@code {

    private async void CreateCookie ( string name, string value, int days )
    {
        var test = await JSRuntime.InvokeAsync<string>("methods.CreateCookie", name, value, days);
    }
}