@page "/"
@inject IJSRuntime JSRuntime
<p>Here created cookies</p>
<button onclick="@(() => CreateCookie("myCookie", "myValue", 7))">Create Cookie</button>
@code {

    private async void CreateCookie ( string name, string value, int days )
    {
        var test = await JSRuntime.InvokeAsync<string>("methods.CreateCookie", name, value, days);
    }
}
