@page "/"
@inject IJSRuntime JSRuntime
<h1>Blazor Application</h1>

@code{
    protected override async Task OnAfterRenderAsync ( bool firstRender )
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("includeCss", "css/external.css");
        }
        
    }
}