@page "/"
@inject IJSRuntime JSRuntime

<h1>Blazor Application</h1>

@code {
    protected override async void OnInitialized ()
    {
        await JSRuntime.InvokeAsync<object>("includeCss");
    }
}
