@page "/"
@inject IJSRuntime jsRuntime
@inject NavigationManager uriHelper
@using Microsoft.AspNetCore.Components

<h1>Navigate</h1>

<p>Enter a URL to navigate to:</p>

<input type="text" @bind="@url" />

<br />

<label>
    <input type="checkbox" @bind="@openInNewTab" />
    Open in new tab
</label>

<br />

<button @onclick="NavigateToUrl">Go</button>

@code {
    private string? url { get; set; }
    private bool openInNewTab { get; set; }

    private void NavigateToUrl ()
    {
        if (openInNewTab)
        {
            jsRuntime.InvokeVoidAsync("open", url, "_blank");
        }
        else
        {
            uriHelper.NavigateTo(url);
        }
    }
}
