@page "/"
@inject IJSRuntime JsRuntime
@using Microsoft.AspNetCore.Components;
<h1>Navigate</h1>

<p>Enter a URL to navigate to:</p>

<input type="text" @bind="@Url" />

<br />

<label>
    <input type="checkbox" @bind="@OpenInNewTab" />
    Open in new tab
</label>

<br />

<button @onclick="NavigateToUrl">Go</button>

@code {
    private string? Url { get; set; }
    [Inject]
    public NavigationManager? UriHelper { get; set; }
    private bool OpenInNewTab { get; set; }

    private NavigationManager? NavigationManager { get; set; }

    public void NavigatePage ( NavigationManager navigationManager )
    {
        NavigationManager = navigationManager;
    }

    private void NavigateToUrl ()
    {
        if (OpenInNewTab)
        {
            JsRuntime.InvokeVoidAsync("open", Url, "_blank");
        }
        else
        {
            this.UriHelper!.NavigateTo(Url);
        }
    }
}