@page "/"

<p>Select country from the DropDownList</p>

<select class="form-control" @bind="@SelectedCountryID">

        @foreach (var country in CountryList)
        {
            <option value="@country.Code"> @country.Name </option>
        }
        
</select>
<br/>
    <p>@SelectedCountryID</p>

@code {

    string? selectedCountryID;

    string SelectedCountryID
    {
        get => selectedCountryID ?? ""; // return an empty string if selectedCountryID is null
        set { selectedCountryID = value; }
    }


    List<Country> CountryList = new List<Country>() { new Country("IND", "India"), new Country("USA", "United States"), new Country("UK", "United Kingdom") };

    public class Country
    {

        public Country ( string code, string name )
        {
            Code = code;
            Name = name;
        }
        public string Code { get; set; }
        public string Name { get; set; }

    }
}