<h1>@blazorHeader</h1>

<div class="card card-body" style="width: 18rem;">
    <h5><b>@pageName</b></h5>
    <p>@pageDescription</p>
</div>

@code {
    private string blazorHeader = "Blazor App!";
    private string pageName = "Blazor Page";
    private string pageDescription = "Blazor component is created";
    }