@page "/"
@inject IJSRuntime JsRuntime

<button @onclick="@(e => OnButtonClick("open"))">Open Window</button>
<button @onclick="@(e => OnButtonClick("close"))">Close Window</button>

@code {        
    private void OnButtonClick ( string value )
    {
        if (value == "close")
        {
            JsRuntime.InvokeVoidAsync("eval", "window.location.href = 'about:blank';");
        }
        else
        {
            JsRuntime.InvokeVoidAsync($"window.{value}");
        }
    }
}