@page "/"

@using System.Linq

@preservewhitespace true

<ul>
    @if (forecasts != null)
    {
        @foreach (var item in forecasts)
        {
            <li>
                Temperature: @item?.TemperatureC
            </li>
        }
    }
</ul>

@code {
    private WeatherForecast[]? forecasts;

    protected override void OnInitialized ()
    {
        forecasts = Enumerable.Range(1, 10).Select(x => new WeatherForecast()
        {
            TemperatureC = x
        }).ToArray();
    }

    public class WeatherForecast
    {

        public int TemperatureC { get; set; }

    }
}