@page "/"

<button class="btn btn-primary" @onclick="OnButtonClick">Switch</button>
<AnimeState Name="Blazor" AnimationTime="2s" IsShown=@isShown />
<span>State transition Animation</span>
@code {
    bool isShown = true;

    private void OnButtonClick ()
    {
        isShown = !isShown;
    }
}