@page "/"
@inject IJSRuntime JsRuntime
<p>Example of calling a JavaScript method with parameters in Blazor WebAssembly </p>
@code {
    protected override async void OnInitialized ()
    {
        string content = "JavaScript function called with parameter";
        await JsRuntime.InvokeVoidAsync("jsFunction", content);
    }
}
