@page "/"

<h1>Parent Component</h1>

<Child_component PasswordChanged="ReceiveDataFromChild" />
<p>Received Data from Child Component: @receivedData</p>

@code {
    private string? receivedData;
    private void ReceiveDataFromChild ( string data )
    {
        receivedData = data;
    }
}
