@page "/"
@inject IJSRuntime JSRuntime

@if (!string.IsNullOrEmpty(pageReferrer))
{
    <p>Referrer: @pageReferrer</p>
}

@code {
    private string? pageReferrer;

    protected override async Task OnInitializedAsync()
    {
        pageReferrer = await JSRuntime.InvokeAsync<string>("getPageReferrer");
        Console.WriteLine($"pageReferrer: {pageReferrer}");
    }
}
