@page "/"
@inject IJSRuntime jsRuntime

<div id="top">
    <a href="#section1">Go Section 1</a>
    <a href="#section2">Go Section 2</a>
    <a href="#section3">Go Section 3</a>
</div>
<br>
<div id="section1">
    In the web project, pagination is a very important part where huge numbers of records are listed from the
    database. In that case, Ajax pagination is a preferable way because it will help to improve the User
    Interface
    of your website. You'll easily be able to implement the Ajax pagination with our PHP Pagination class.
    Pagination class helps to generate the pagination links and get the records from the database using Ajax.In
    the
    web project, pagination is a very important part where huge numbers of records are listed from the database.
    In
    that case, Ajax pagination is a preferable way because it will help to improve the User Interface of your
    website. You'll easily be able to implement the Ajax pagination with our PHP Pagination class. Pagination
    class
    helps to generate the pagination links and get the records from the database using Ajax.
</div>
<br />
<br />
<div id="section2">
    <a href="#top">BackToTop</a><br />
    In the web project, pagination is a very important part where huge numbers of records are listed from the
    database. In that case, Ajax pagination is a preferable way because it will help to improve the User
    Interface
    of your website. You'll easily be able to implement the Ajax pagination with our PHP Pagination class.
    Pagination class helps to generate the pagination links and get the records from the database using Ajax.In
    the
    web project, pagination is a very important part where huge numbers of records are listed from the database.
    In
    that case, Ajax pagination is a preferable way because it will help to improve the User Interface of your
    website. You'll easily be able to implement the Ajax pagination with our PHP Pagination class. Pagination
    class
    helps to generate the pagination links and get the records from the database using Ajax.
</div>
<br />
<br />
<div id="section3">
    <a href="#top">BackToTop</a><br />
    In the web project, pagination is a very important part where huge numbers of records are listed from the database. In that case, Ajax pagination is a preferable way because it will help to improve the User Interface of your website. You'll easily be able to implement the Ajax pagination with our PHP Pagination class.

    Pagination class helps to generate the pagination links and get the records from the database using Ajax. In the
    web project, pagination is a very important part where huge numbers of records are listed from the database.
    In
    that case, Ajax pagination is a preferable way because it will help to improve the User Interface of your website. You'll easily be able to implement the Ajax pagination with our PHP Pagination class. Pagination
    class
    helps to generate the pagination links and get the records from the database using Ajax.
</div>


@code {
    protected override async void OnAfterRender ( bool firstRender )
    {
        if (firstRender)
        {
            await jsRuntime.InvokeVoidAsync("renderjQuery");
        }
        base.OnAfterRender(firstRender);
    }
}