@page "/"

@inject IJSRuntime JSRuntime

<h1>Display Bing Map</h1>
<div id="map" style="height:500px;width:100%;"> </div>

@code {

    protected override async Task OnAfterRenderAsync ( bool firstRender )
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("loadBingMap", null);
        }
    }

}
