@page "/"
@using BlazorApp
<h1>Parent component</h1>
<Child_component OnClick="ClickHandler"></Child_component>

<p>@message</p>

@code {

    string message = "Hello from ParentComponent";

    void ClickHandler(string newMessage)
    {
        message = newMessage;
    }

}