@using Microsoft.AspNetCore.Components
<h3>Blazor Component in MVC</h3>
<button @onclick="Test" class="btn btn-dark">Click to get answer</button>
<br />
<div>@Data </div>
@code {
    [Parameter]
    public string Data { get; set; } = string.Empty;
    private void Test ()
    {
        Data = "Button Clicked";
    }
 }   