@page "/"
@inject IJSRuntime JsRuntime

<p id="date-time"></p>

@code {
    protected async override Task OnAfterRenderAsync ( bool firstRender )
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("GetDateTime");
        }
    }
} 